[tool.poetry]
name = "lib-toggl"
version = "0.1.8"
description = "Asynchronous Python library for the Toggl API."
authors = ["Karl Quinsalnd <karl@karlquinsland.com>"]
readme = "README.md"
packages = [{ include = "lib_toggl" }]

[tool.poetry.dependencies]
python = "^3.11"
certifi = "^2023.11.17"
pydantic = ">=1.10.2,<3.0.0"
pyrfc3339 = "^1.1"
aiohttp = "^3.9.1"
aiodns = "^3.1.1"


[tool.poetry.group.dev.dependencies]
pylint = "^3.0.3"
isort = "^5.13.2"
black = "^23.12.0"
pytest = "^7.4.3"
pytest-asyncio = "^0.23.2"
structlog = "^24.1.0"

# Get isort to play nice with black
pre-commit = "^4.0.1"
[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
